[submodule "xresources"]
	path = xresources
	url = git://github.com/solarized/xresources.git
[submodule "_rbenv"]
	path = _rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "_mutt/mutt-colors-solarized"]
	path = _mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "_vim/bundle/vundle.vim"]
	path = _vim/bundle/vundle.vim
	url = https://github.com/vundlevim/vundle.vim.git
