[submodule "_rbenv"]
	path = _rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "_mutt/mutt-colors-solarized"]
	path = _mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "_vim/bundle/vundle.vim"]
	path = _vim/bundle/vundle.vim
	url = https://github.com/vundlevim/vundle.vim.git
[submodule "_asdf"]
	path = _asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure
[submodule "_fzf"]
	path = _fzf
	url = https://github.com/junegunn/fzf.git
[submodule "_config/alacritty/themes"]
	path = _config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
